################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
*.ilk
*.pdb
*.tlog
/src/windows/SpaceRL.VC.VC.opendb
